@use '../../styles/mixins';

.graphWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fittingButtons {
  margin-top: 2rem;
  text-align: center;
}

.modelsModal {
  width: 60vw;
  min-width: 20rem;
  min-height: 20vh;
  max-height: 80vh;
  overflow-y: auto;
}

.descriptionText {
  margin: auto;
  max-width: 30em;
}