.componentWrapper {
  display: flex;
  column-gap: 1rem;
}

.modelWrapper {
  display: flex;
  align-items: center;
  column-gap: 2em;
}

.model {
  display: flex;
  justify-content: center;

  text-align: center;
  border: 1px solid #878787;
  border-radius: 6px;

  padding: 0.75rem;
  margin: 0.5em 0;

  background-color: #eeeeee;

  font-size: 1.1rem;

  cursor: pointer;

  flex-grow: 1;

  button {
    margin: 0 0 0 auto;
    cursor: pointer;
  }

  &:hover {
    background-color: #dedede;
  }
}

.modelSelected {
  background-color: #e6e6ff;

  &:hover {
    background-color: #d3d3fd;
  }
}