.resultElement {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f3f3f3;
  border: 1px solid grey;
  border-radius: 6px;
  padding: 0.25rem;
  margin: 0.25em 0;
  min-width: 9rem;

  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #d4d4d4;
  }
}

.properFit {
  background-color: #cdfcbf;

  &:hover {
    background-color: #b5fa9e;
  }
}

.warnFit {
  background-color: #fff0bb;

  &:hover {
    background-color: #ffeda2;
  }
}

.errorFit {
  background-color: #ffdfdf;
  cursor: unset;

  &:hover {
    background-color: #ffb7b7;
  }
}

.drawButton {
  width: fit-content;
  background-color: #898989;
  border: 1px solid #7f7f7f;
  margin: 0 0 0 auto;

  &:hover {
    background-color: #666666;
  }
}