.funcChart {
  position: relative;
  width: 80vw;
  margin: auto;
  display: block;
  cursor: move;
}

.funcFixedSize {
  width: auto;
}

.resetButton {
  position: absolute;
  top: -.25rem;
  right: 0;
  border: 1px solid black;
}