.modelsWrapper {
  padding: .75rem;
}

.tableWrapper {
  max-height: 80vh;
  overflow-y: auto;
}

.tableRow {
  display: grid;
  grid-template-columns: 1fr 2fr 4fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 0 1rem;

  &:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.tableHeader {
  padding: 0.25rem 0;
  border-bottom: 1px solid black;
}

.texExpression {
  border-radius: 5px;
  padding: .25rem .75rem;
  font-size: 1.1rem;
  margin: 0.1rem;
  cursor: pointer;
}

.tagElement {
  border: 1px solid black;
  padding: 0.5rem;
  cursor: pointer;
}

.addButton {
  margin-top: 2rem;
}