@use '../../styles/indexes';

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  background-color: rgb(0, 0, 0, .5);
  z-index: indexes.$modal-index;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80vw;
  padding: 2rem;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  text-align: center;
  background: white;
  border-radius: 3px;
}