.sidebar {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  //top: 50%;
  //transform: translate(0, -50%);
}

.sidebarElement {
  font-size: 1.3rem;
  display: block;
  background: #e3e3e3;
  border: 1px solid black;
  padding: 0.5rem;
  width: 10rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
}