@use '../../styles/colors';

.modalRegisterWrapper {
  padding: 0;
  border-radius: 11px;
}

.usersWrapper {
  padding: 0.75rem;
}

.tableWrapper {
  border: 1px solid black;
  height: 70vh;
  overflow-y: auto;
}

.tableRow {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 0 1rem;

  p {
    padding: .75rem 0;
  }

  &:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.tableHeader {
  border-bottom: 1px solid black;
}

.addButton {
  margin-top: 2rem;
}