@use '../../styles/colors';

.modalRegisterWrapper {
  padding: 0;
  border-radius: 11px;
}

.usersWrapper {
  padding: 0.75rem;
}

.user {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  padding: 0.5rem 0;
  margin: 0.25rem 0;
  cursor: pointer;

  &:hover {
    background-color: #dbdbdb;
  }
}

.dangerousButton {
  background-color: colors.$error-button;
  border: 1px solid colors.$error-border;

  &:hover {
    background-color: colors.$error-hover;
  }
}

.passwordForm {
  border: 1px solid colors.$input-border;
  border-radius: 4px;
  padding: 1.25rem;
}