@use '../../styles/colors';

.modalRegisterWrapper {
  padding: 0;
  border-radius: 11px;
}

.usersWrapper {
  padding: 0.75rem;
}

.passwordForm {
  border: 1px solid colors.$input-border;
  border-radius: 4px;
  padding: 1.25rem;
}

.tableRow {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 0 1rem;

  p {
    padding: .75rem 0;
  }

  &:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.tableHeader {
  padding: .25rem 0;
  border-bottom: 1px solid black;
}

.tooltipCustom {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.operationButtons {
  display: flex;
  flex-direction: column;
  border-radius: 5px;

  button {
    padding: 0.25rem;
    cursor: pointer;
  }
}

.operation {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
